{% extends "layout/layout1.html" %}

{% block title %}
	Cadastrar Prato
{% endblock %}

{% block conteudo %}

	<!-- Conteudo site -->
	<div class="container conteudo">
			
		<h2 class="text-center">Cadastrar Prato</h2>
		<div class="container">
			<form action="cadastrar_cliente_submit" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_prato">Nome Prato</label>
					<input type="text" name="nome_prato" id="nome_prato" class="form-control">	
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-danger btn-lg my-btn">Cadastrar</button>
				</div>
			</form>
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}
