.navbar{
	margin-bottom: 0px;
}

#nav-menu a:hover{
	background-color:  #d43f3a;
	text-decoration: underline;
	border-color: #C23833;
}

header{
	margin-bottom: 50px;
}

.top-layout{
	background-color:  #d43f3a;
	color: #FFFFFF;
	padding-top: 100px;
}

.separete-margim {
    margin: 50px auto;
}

.conteudo{
	font-family: 'Cutive', serif;
	flex: 1 0 auto;
	/*-webkit-flex: 1 0 auto;*/
	min-height: 200px;
}

h1{
	font-family: 'Cutive', serif;
}

.my-btn{
	font-weight: bold;
	padding-top: 17px;
}

footer{
	background-color:  #d43f3a;
    color: #ffffff;
    margin-top: 50px;
    font-size: 14px;
}

.foot-layout {
	color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:  #d43f3a;
	margin-bottom: 0px;
}

.foot-layout p{
	font-size: 14px;
}


.foot-layout a{
	font-size: 14px;
	color: #EAEAEA;
}

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}