{% extends "layout/layout1.html" %}

{% block title %}
	Cardapio
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->
		<div class="container text-center conteudo">
			{% if cadastro == 'True' %}
				<div class="alert alert-success" role="alert"><p>Cadastro realizado com sucesso!</p></div>
			{% endif %}
			{% if cadastro == 'False' %}
				<div class="alert alert-danger" role="alert"><p>Falha ao cadastrar cliente!</p></div>
			{% endif %}
			{% if rm == 'True' %}
				<div class="alert alert-success" role="alert"><p>Cliente excluido com sucesso!</p></div>
			{% endif %}
			{% if rm == 'False' %}
				<div class="alert alert-danger" role="alert"><p>Falha ao excluir cliente!</p></div>
			{% endif %}
			<h2>Cardapio</h2>
			<div class="container separete-margim">
				<a href="{{ url_for('search_prato') }}" class="btn btn-danger btn-block btn-lg my-btn">SELECIONAR PRATO</a>
			</div>
			<div class="container separete-margim">
				<a href="{{ url_for('cadastro_prato') }}" class="btn btn-danger btn-block btn-lg my-btn">CADASTRAR PRATO</a>
			</div>
			<div class="container separete-margim">
				<a href="./selecionar_ingrediente.html" class="btn btn-danger btn-block btn-lg my-btn">SELECIONAR INGREDIENTE</a>
			</div>
			<div class="container separete-margim">
				<a href="cadastro/cadastro_ingredientes.html" class="btn btn-danger btn-block btn-lg my-btn">CADASTRAR INGREDIENTE</a>
			</div>
		</div>
	<!-- Fim conteudo -->
{% endblock %}
	