{% extends "layout/layout1.html" %}

{% block title %}
	Exibir Cliente
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->
	<div class="container text-justify">
		<h2 class="text-center">Cliente</h2>
		<ul class="my-list">
			{% for row in results %}
				<li><p><div class="estilo">ID:</div>{{ row[0] }}</p></li>
				<hr>
				<li><p><div class="estilo">Nome:</div>{{ row[1] }}<br> <a href="#">alterar</a></p></li>
				<hr>
				<li><p><div class="estilo">cpf:</div>{{ row[3] }}<br> <a href="#">alterar</a></p></li>
				<hr>
				<li><p><div class="estilo">telefone:</div>{{ row[2] }}<br> <a href="#">alterar</a></p></li>
			{% endfor %}
		</ul>
		<hr>
		<div class="text-right">
			<button type="" class="btn btn-default btn-sm">excluir cliente</button>
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}