{% extends "layout/layout1.html" %}

{% block title %}
	Exibir Reserva
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->
	{% for row in results %}
	<div class="container text-center">
		{% if alt == 'True' %}
			<div class="alert alert-success" role="alert"><p>Alterações realizadas com sucesso!</p></div>
			{% endif %}
			{% if alt == 'False' %}
				<div class="alert alert-danger" role="alert"><p>Falha ao alterar dado!</p></div>
			{% endif %}
		<div class="text-justify">
			<h2 class="text-center">Reserva</h2>
			<ul class="my-list">
				<li><p><div class="estilo">ID:</div>{{ row[0] }}</p></li>
				<hr>
				<li><p><div class="estilo">Nome Cliente:</div>{{ cliente }} </p></li>
				<hr>
				<li><p><div class="estilo">nroMesa</div>{{ row[2] }} <a href="{{ url_for('alt_mesa_reserva', id=row[0], date=row[3], nroPessoas = row[5]) }}" class="btn btn-default">alterar</a></p></li>
				<hr>
				<li><p><div class="estilo">datas</div>{{ row[3] }} <a href="{{ url_for('alt_datas_reservas', id=row[0], date=row[3], nroPessoas = row[5]) }}" class="btn btn-default">alterar</a></p></li>
				<hr>
				<li><p><div class="estilo">hora</div>{{ row[4] }}  <a href="{{ url_for('alt_hora_reservas', id=row[0]) }}" class="btn btn-default">alterar</a></p></li>
				<hr>
				<li><p><div class="estilo">nroPessoas</div>{{ row[5] }}  <a href="{{ url_for('alt_nroPessoas_reservas', id=row[0]) }}" class="btn btn-default">alterar</a></p></li>
			</ul>
			<hr>
			<div class="text-right">
			<form method="post">
				<button type="submit" formmethod="post" formaction="{{ url_for('rm_reserva', id=row[0]) }}" class="btn btn-default btn-sm">excluir Reserva</button>
			</form>
			</div>
		</div>
	</div>
	{% endfor %}

	<!-- Fim conteudo -->
{% endblock %}