{% extends "layout/layout1.html" %}

{% block title %}
	Restaurante
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->
		<div class="container text-center conteudo">
			<h2>Restaurante</h2>
			<div class="container separete-margim">
				<a href="./fornecedor.html" class="btn btn-danger btn-block btn-lg my-btn">FORNECEDOR</a>
			</div>
			<div class="container separete-margim">
				<a href="./cardapio.html" class="btn btn-danger btn-block btn-lg my-btn">CARDAPIO</a>
			</div>
			<div class="container separete-margim">
				<a href="./mesa.html" class="btn btn-danger btn-block btn-lg my-btn">MESAS</a>
			</div>
			
		</div>


	<!-- Fim conteudo -->
{% endblock %}