{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Ingredientes
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Ingredientes</h2>
		</div>	
		<div class="container">
<!-- 			
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_ingrediente">Nome Ingrediente</label>
					<div class="input-group">
						<input type="text" name="nome_ingrediente" id="nome_ingrediente" class="form-control" placeholder="Busca ingrediente pelo nome">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr> -->
			<!-- pesquisa Complexa -->
			<form action="{{ url_for('results_ingrediente_algo') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="condicao">Buscar Por Condições Especiais</label>
					<div class="input-group">
						<select class="form-control" id="condicao" name="condicao">
							<option value="">Selecionar condição para busca!</option>
							<option value="sem_fornecedor">Ingrediente sem fornecedor</option>
						</select>
					    <span class="input-group-btn">
					    	<button type="submit" class="btn btn-danger">Buscar!</button>
						</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}