{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Prato
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Prato</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="{{ url_for('results_prato_nome') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_prato">Nome Prato</label>
					<div class="input-group">
						<input type="text" name="nome_prato" id="nome_prato" class="form-control" placeholder="Busca prato pelo nome">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="{{ url_for('results_prato_cliente') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="cliente">Prato mais pedido de algum cliente</label>
					<div class="input-group">
						<select class="form-control" id="cliente" name="cliente">
							<option value="">Selecionar cliente</option>
							{% for cliente in clientes %}
								<option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
							{% endfor %}
						</select>
					    <span class="input-group-btn">
					    	<button type="submit" class="btn btn-danger">Buscar!</button>
						</span>
					</div>
				</div>
			</form>
			<hr>
			<form action="{{ url_for('results_prato_mes') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="mes">Prato mais vendido</label>
					<div class="input-group">
						<select class="form-control" id="mes" name="mes">
							<option value="">Selecionar Prato mais pedido do mes</option>
							<option value="1">Janeiro</option>
							<option value="2">Fevereiro</option>
							<option value="3">Março</option>
							<option value="4">Abril</option>
							<option value="5">Maio</option>
							<option value="6">Junho</option>
							<option value="7">Julho</option>
							<option value="8">Agosto</option>
							<option value="9">Setembro</option>
							<option value="10">Outubro</option>
							<option value="11">Novembro</option>
							<option value="12">dezembro</option>
						</select>
					    <span class="input-group-btn">
					    	<button type="submit" class="btn btn-danger">Buscar!</button>
						</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}
