{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Cliente
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Clientes</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="{{ url_for('results_cliente_nome') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_cliente">Nome Clientes</label>
					<div class="input-group">
						<input type="text" name="nome" id="nome_cliente" class="form-control" placeholder="Busca cliente pelo nome">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<form action="{{ url_for('results_cliente_minimo_reserva') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="numero_minimo">Clientes com mais reservas que</label>
					<div class="input-group">
						<input type="number" name="numero_minimo" id="numero_minimo" class="form-control" placeholder="Numero de reservas minimas">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="{{ url_for('results_cliente_algo') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="mes">Cliente sem reserva</label>
					<div class="input-group">
						<select class="form-control" id="mes" name="mes">
							<option value="">Selecionar cliente sem reserva para determinado mes</option>
							<option value="1">Janeiro</option>
							<option value="2">Fevereiro</option>
							<option value="3">Março</option>
							<option value="4">Abril</option>
							<option value="5">Maio</option>
							<option value="6">Junho</option>
							<option value="7">Julho</option>
							<option value="8">Agosto</option>
							<option value="9">Setembro</option>
							<option value="10">Outubro</option>
							<option value="11">Novembro</option>
							<option value="12">dezembro</option>
						</select>
					    <span class="input-group-btn">
					    	<button type="submit" class="btn btn-danger">Buscar!</button>
						</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa2 -->
			<form action="{{ url_for('results_cliente_algo') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="condicao">Buscar Por Condições Especiais</label>
					<div class="input-group">
						<select class="form-control" id="condicao" name="condicao">
							<option value="">Selecionar condição para busca!</option>
							<option value="todas_mesas">Cliente que já reservou todas as mesas</option>
							<option value="mais_reservas">Cliente com maior numero de reservas</option>
						</select>
					    <span class="input-group-btn">
					    	<button type="submit" class="btn btn-danger">Buscar!</button>
						</span>
					</div>
				</div>
			</form>
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}