{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Ingredientes
{% endblock %}

{% block conteudo %}
			<!-- Conteudo topo -->
			
			<p><img src="./img/lorenzo.png" height="150" width="150"></p><h1>My Restaurant</h1>

			<!-- Fim conteudo -->
			</div>
		</div>
	</header>
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Ingredientes</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_ingrediente">Nome Ingrediente</label>
					<div class="input-group">
						<input type="text" name="nome_ingrediente" id="nome_ingrediente" class="form-control" placeholder="Busca ingrediente pelo nome">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_ingrediente">Algo complexo</label>
					<div class="input-group">
						<input type="text" name="nome_ingrediente" id="nome_ingrediente" class="form-control" placeholder="Busca ingrediente por algo">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}