{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Pedido
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Pedido</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="{{url_for('results_pedido_nome')}}" accept-charset="utf-8">
				<div class="form-group">
					<label for="data_pedido">Data Pedido</label>
					<div class="input-group">
						<input type="date" name="data_pedido" id="data_pedido
						" class="form-control" placeholder="Busca Pedido pela data">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="{{url_for('results_pedido_algo')}}" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="data_pedido">Algo complexo</label>
					<div class="input-group">
						<input type="text" name="data_pedido" id="data_pedido" class="form-control" placeholder="Busca pedido por algo">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}
