{% extends "layout/layout1.html" %}

{% block title %}
Selecionar Funcionario
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">
			{% if empty == 'True' %}
				<div class="alert alert-danger" role="alert"><p>Campo vazio!</p></div>
			{% endif %}	
			<h2>Selecionar Funcionario</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="{{ url_for('results_funcionario_nome' )}}" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_funcionario">Nome Funcionário</label>
					<div class="input-group">
						<input type="text" name="nome_funcionario" id="nome_funcionario" class="form-control" placeholder="Busca funcionário pelo nome">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			    <label class="radio-inline">
			      <input type="radio" checked="checked" name="options" id="option1" value="garcom">Garçom
			    </label>
			    <label class="radio-inline">
			      <input type="radio" name="options" id="option2" value="cozinheiro">Cozinheiro
			    </label>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_funcionario">Algo complexo</label>
					<div class="input-group">
						<input type="text" name="nome_funcionario" id="nome_funcionario" class="form-control" placeholder="Busca funcionário por algo">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}