{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Pedido
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Pedido</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="{{url_for('results_pedido_mesa')}}" accept-charset="utf-8">
				<div class="form-group">
					<label for="numero_da_mesa">Numero Mesa</label>
					<div class="input-group">
						<input type="number" name="nro_mesa" id="nro_mesa
						" class="form-control" placeholder="Busca Pedido pelo Numero da Mesa">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="check" value="True">Buscar pedidos finalizados!
						</label>
					</div>
				</div>
			</form>
			<hr>
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}
