{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Cliente
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Clientes</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="{{ url_for('results_cliente_nome') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_cliente">Nome Clientes</label>
					<div class="input-group">
						<input type="text" name="nome" id="nome_cliente" class="form-control" placeholder="Busca cliente pelo nome">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_cliente">Algo complexo</label>
					<div class="input-group">
						<input type="text" name="nome_cliente" id="nome_cliente" class="form-control" placeholder="Busca cliente por algo">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}