{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Prato
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Prato</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="{{ url_for('results_prato_nome') }}" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_prato">Nome Prato</label>
					<div class="input-group">
						<input type="text" name="nome_prato" id="nome_prato" class="form-control" placeholder="Busca prato pelo nome">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_prato">Algo complexo</label>
					<div class="input-group">
						<input type="text" name="nome_prato" id="nome_prato" class="form-control" placeholder="Busca prato por algo">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}
