{% extends "layout/layout1.html" %}

{% block title %}
	Fornecedor
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->
		<div class="container text-center conteudo">
			<h2>Fornecedor</h2>
			<div class="container separete-margim">
				<a href="./selecionar_fornecedor.html" class="btn btn-danger btn-block btn-lg my-btn">SELECIONAR FORNECEDOR</a>
			</div>
			<div class="container separete-margim">
				<a href="cadastro/cadastro_fornecedor.html" class="btn btn-danger btn-block btn-lg my-btn">CADASTRAR FORNECEDOR</a>
			</div>
		</div>


	<!-- Fim conteudo -->
{% endblock %}
	