{% extends "layout/layout1.html" %}

{% block title %}
	Resultados
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->
		<div class="container text-center conteudo">
			<!-- resultados busca -->
			<div>
				<table class="table table-bordered table-responsive">
					<caption class="text-center"><h2>Resultados</h2></caption>
					<thead class="text-center">
						<tr>
							<th class="text-center">Nº<wbr></wbr>cliente</th>
							<th class="text-center">Nome</th>
						</tr>
					</thead>
					<tbody>
					<!-- Loop -->
						<tr>
							<td><a href="#">1</a></td>
							<td><a href="#">Fulano da Silva</a></td>
						</tr>
					<!-- Fim Loop -->
					</tbody>
				</table>
			</div>
		</div>


	<!-- Fim conteudo -->
{% endblock %}