{% extends "layout/layout1.html" %}

{% block title %}
	Mesa
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->
		<div class="container text-center conteudo">
			<h2>Mesa</h2>
			<div class="container separete-margim">
				<a href="./selecionar_mesa.html" class="btn btn-danger btn-block btn-lg my-btn">SELECIONAR MESA</a>
			</div>
			<div class="container separete-margim">
				<a href="cadastro/cadastro_mesa.html" class="btn btn-danger btn-block btn-lg my-btn">CADASTRAR MESA</a>
			</div>
			<div class="container separete-margim">
				<a href="./selecionar_reserva.html" class="btn btn-danger btn-block btn-lg my-btn">SELECIONAR RESERVA</a>
			</div>
			<div class="container separete-margim">
				<a href="cadastro/cadastro_reservas.html" class="btn btn-danger btn-block btn-lg my-btn">CADASTRAR RESERVA</a>
			</div>
		</div>


	<!-- Fim conteudo -->
{% endblock %}