{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Mesa
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Mesa</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="numero_da_mesa">Numero mesa</label>
					<div class="input-group">
						<input type="text" name="numero_da_mesa" id="numero_da_mesa" class="form-control" placeholder="Busca mesa pelo numero">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="numero_da_mesa">Algo complexo</label>
					<div class="input-group">
						<input type="text" name="numero_da_mesa" id="numero_da_mesa" class="form-control" placeholder="Busca mesa por algo">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}
	