{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Fornecedor
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Fornecedor</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_fornecedor">Nome Fornecedor</label>
					<div class="input-group">
						<input type="text" name="nome_fornecedor" id="nome_fornecedor" class="form-control" placeholder="Busca fornecedor pelo nome">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_fornecedor">Algo complexo</label>
					<div class="input-group">
						<input type="text" name="nome_fornecedor" id="nome_fornecedor" class="form-control" placeholder="Busca fornecedor por algo">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
	{% endblock %}