{% extends "layout/layout1.html" %}

{% block title %}
	Selecionar Reserva
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->

	<div class="container conteudo">
		<div class=" container text-center">	
			<h2>Selecionar Reserva</h2>
		</div>	
		<div class="container">
			<!-- Pesquisa simples -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="data_reserva">Data Reserva</label>
					<div class="input-group">
						<input type="text" name="data_reserva" id="data_reserva" class="form-control" placeholder="Busca reserva pela data">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>
			<hr>
			<!-- pesquisa Complexa -->
			<form action="#" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="data_reserva">Algo complexo</label>
					<div class="input-group">
						<input type="text" name="data_reserva" id="data_reserva" class="form-control" placeholder="Busca reserva por algo">
						    <span class="input-group-btn">
						    	<button type="submit" class="btn btn-danger">Buscar!</button>
							</span>
					</div>
				</div>
			</form>

			<!-- pesquisa Complexa2 -->
			<!-- etc -->
		</div>
	</div>

	<!-- Fim conteudo -->
{% endblock %}