{% extends "layout/layout1.html" %}

{% block title %}
	Cadastrar Funcionario
{% endblock %}

{% block conteudo %}
	<!-- Conteudo site -->
	<div class="container conteudo">
			
		<h2 class="text-center">Cadastrar Funcionario</h2>
		<div class="container">
			<form action="{{ url_for('funcionario_submit', funcao='garcom') }}" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="nome_funcionario">Nome Funcionario</label>
					<input type="text" name="nome_funcionario" id="nome_funcionario" class="form-control">	
				</div>
				<div class="form-group">
					<label for="sal_funcionario">Salario Funcionario</label>
					<input type="text" name="sal_funcionario" id="sal_funcionario" class="form-control">	
				</div>
				<div class="form-group">
					<label for="cpf_funcionario">CPF Funcionario</label>
					<input type="text" name="cpf_funcionario" id="cpf_funcionario" class="form-control">	
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-danger btn-lg my-btn">Cadastrar</button>
				</div>
			</form>
		</div>
	</div>

	<!-- Fim conteudo -->
	{% endblock %}