{% extends "layout/layout1.html" %}

{% block title %}
	Clientes
{% endblock %}
	
{% block conteudo %}
	<!-- Conteudo site -->
		<div class="container text-center conteudo">
			<!-- resultados busca -->
			<div>
				<table class="table table-bordered table-responsive">
					<caption class="text-center"><h2>Resultados</h2></caption>
					<thead class="text-center">
						<tr>
							{% block table_head %}
							{% endblock %}
						</tr>
					</thead>
					<tbody>
						{% block table_body %}
						{% endblock %}
					</tbody>
				</table>
			</div>
		</div>


	<!-- Fim conteudo -->
{% endblock %}